BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
ColumnLimit: 80
SortIncludes: false

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true